# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
.env/

# IDE
.vscode/
.idea/

# Project generated outputs
outputs/*.mp4
outputs/*.avi
outputs/*.mkv
outputs/*.mov

# User uploaded videos
videos/*.mp4
videos/*.avi
videos/*.mkv
videos/*.mov

# Calibration images / assets
assets/*.jpg
assets/*.jpeg
assets/*.png

# OS files
.DS_Store
Thumbs.db
